<% content_for :menu do -%>
  
  <%= nav do %>
  <%= nav_item _("Dashboard"), admin_root_path, :icon => "cog" , :icon_color => :white %>
  <% end %>
  
  <%= nav(:class => 'float right') do %>
  <%= nav_item _("Homepage"), "/", :icon => "home" , :icon_color => :white %>
    <%= dropdown_nav_item _("Account"), :icon => "user" , :icon_color => :white do %>
        <%= nav_item _('Logout'), destroy_user_session_path, :method => :delete %>
    <% end %>
  <% end %>
  
<% end -%>

<% content_for :nav do -%>
  
  <div class="well">
    <%= nav_list do %>
      <%= nav_header _("Contents") %>    
      <!-- FULLSTACK_PLACEHOLDER -->
    
      <!-- Please do not delete the comment above. 
           It is a placeholder used by fullstack generators
           to attach new menu items
        -->
      
      <%= nav_header _("Users") %>
      <%= nav_item _("Users"), admin_users_path %>
    <% end -%>
  </div>


<% end -%>
