<% content_for :menu do -%>
  
  <%= nav do %>
  <%= nav_item t('fullstack.admin.dashboard', :default => "Dashboard"), admin_root_path, :icon => "cog" , :icon_color => :white %>
  <% end %>
  
  <%= nav(:class => 'float right') do %>
  <%= nav_item t('fullstack.admin.homepage', :default => "Homepage"), "/", :icon => "home" , :icon_color => :white %>
    <%= dropdown_nav_item t('fullstack.admin.account', :default => "Account"), :icon => "user" , :icon_color => :white do %>
        <%= nav_item t('fullstack.admin.logout', :default => "Logout"), destroy_user_session_path, :method => :delete %>
    <% end %>
  <% end %>
  
<% end -%>

<% content_for :nav do -%>

  <div class="tabbable tabs-left float right">
    <%= nav_list :class => "nav-tabs" do %>

    <% Fullstack::Admin.resources.each do |rog| %>
        <% if rog.type == :group %> 
          <%= nav_header rog.name %>
          
        <% elsif rog.type == :resource %>
          <%= nav_item rog.name, [:admin, rog.name] %>
        <% end %>
    <% end %>

    <% end %>
  </div>

<% end -%>
