<% content_for :menu do -%>  

  <%= nav(:class => 'float right') do %>
  <li class="divider-vertical">
  </li>
  
  <%= nav_item t('fullstack.admin.homepage', :default => "Homepage"), "/", :icon => "globe", :"icon_color" => :white %>
  <% begin %>
  <%= render :partial => "admin/nav/navbar" %>
  <% rescue ActionView::MissingTemplate %>
  <% end %>

  
  <li class="divider-vertical">
  </li>
  
    <%= dropdown_nav_item t('fullstack.admin.account', :default => "Account"), :class => "pull-right", :icon => "user", :"icon_color" => :white do %>
    <% begin %>
    <%= render :partial => "admin/nav/user_dropdown" %>
    <% rescue ActionView::MissingTemplate %>
    <% end %>

        <%= nav_item t('fullstack.admin.logout', :default => "Logout"), destroy_administrator_session_path, :method => :delete %>


    <% end %>
  <% end %>
  
<% end -%>

<% content_for :nav do -%>


<div class="sidebar">
	<div class="sidebar-inner">
		<div class="accordion sidebar-accordion" id="sidebar-accordion">						
      <% i = 0 %>
      <% Fullstack::Admin.grouped_resources.each do |group, resources| %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a href="#sidebar_group_collapsable_<%= i+=1 %>" data-parent="#sidebar-accordion" data-toggle="collapse" class="accordion-toggle">
						<i class="icon-<%= group.icon %>"></i> <%= t("fullstack.admin.groups.#{group.name}", :default =>  group.name.to_s.humanize) %>
					  <% if resources.map(&:name).include?(plural_name) %>
            <i class="icon-chevron-left float right" style="opacity: 0.4;"></i>
            <% end %>
          </a>
				</div>
				<div class="accordion-body collapse <%= resources.map(&:name).include?(plural_name) ? 'in' : '' %>" id="sidebar_group_collapsable_<%= i %>">
					<div class="accordion-inner">
						<ul class="nav nav-list">
              <% resources.each do |resource| %>
               <%= nav_item t("fullstack.admin.resources.#{resource.name}", :default => resource.name.to_s.humanize), [:admin, resource.name] %> 
              <% end %>
						</ul>
					</div>
				</div>
			</div>
      <% end %>
      <% begin %>
      <%= render :partial => "admin/nav/sidebar_accordion" %>
      <% rescue ActionView::MissingTemplate %>
      <% end %>
		</div>
    <% begin %>
    <%= render :partial => "admin/nav/sidebar" %>
    <% rescue ActionView::MissingTemplate %>
    <% end %>
  </div>
</div>

<% end %>