<% title_column_or_id = title_column(current_resource_class) || "id" %>

<% if thead -%>
    <th><%= sort_link title_column_or_id %></th>

<% if has_timestamps?(current_resource_class) %>
    <th><%= sort_link :created_at %></th>
<% end %>

    <th><%= t('fullstack.admin.actions', :default => "Actions") %></th>
<% end -%>

<% if tbody -%>
    <td><%= link_to (content.send(title_column_or_id)), [:edit,  :admin, content]  %></td>

<% if has_timestamps?(current_resource_class) %>
    <td><%= l content.created_at.to_date, :format => :long %></td>
<% end %>

    <td><%= default_collection_actions_for(content) %></td>
<% end -%>
